build/
nouse/
bin/
objs/
lib/
dll/
x*-Release/
x*-Debug/
.vs/
html/
cache/
.libs/
.deps/
autom4te.cache/
build-aux/
aclocal.m4
Makefile
Makefile.in
config.h.in
config.h
configure
stamp-h1
libtool
components/eiendb/*.sql
components/ecp/ecp
components/ecp/ecpc
components/fcgiserv/fcgiserv
thirdparties/spawn-fcgi/src/spawn-fcgi
thirdparties/spawn-fcgi/src/spawn-manager
thirdparties/curl-7.37.1/builds/
test/test/
design-docs/
fastdo-linux/include/
fastdo-windows/MD-Debug/include/
fastdo-windows/MD-Release/include/
test/*.txt
*.opt
*.ncb
*.aps
*.plg
*.clw
*.tlb
*.db
*.idb
*.sqlite
*.opensdf
*.sdf
*.suo
*.exe
*.obj
*.o
*.lo
*.Plo
*.la
*.a
*.zip
*.tar*
*.log
*.status
*.directory
*~
/*.png
/*.jpg
/*.gif
/*.bmp
/*.doc
/*.imp
/*.rtf
/*.psd
/.project
